@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

html
{
    height: 100%;
    width: 100%;
    background: url(https://pilakavil.github.io/images/background.jpg);
    
}
body
{
    text-align: center;
    font-family: Karla;
    color: white;
    text-align: center;
}
body #port
{
    padding-top: 3em;
    font-weight: bold;
    font-size: 5em;
}

body #upd
{
    font-size: 3em;
}

body #tune
{
    font-size: 1em;
}